<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>LocationServicesEnabled</key>
			<data>
			AQ==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			MA==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			8A==
			</data>
			<key>bluetoothActiveControllerInfo</key>
			<data>
			jYKsBQAAAACjFIhj34oNNQ==
			</data>
			<key>bluetoothInternalControllerInfo</key>
			<data>
			jYKsBQAAoxSIY9+KDTU=
			</data>
			<key>boot-args</key>
			<string>Slide=1 darkwake=8</string>
			<key>bootercfg</key>
			<data>
			bG9nPTAgZGVidWc9MCBsZXZlbD0wAA==
			</data>
			<key>csr-active-config</key>
			<data>
			5wMAAA==
			</data>
			<key>efi-boot-device</key>
			<data>
			Jmx0O2FycmF5Jmd0OyZsdDtkaWN0Jmd0OyZsdDtrZXkmZ3Q7SU9N
			YXRjaCZsdDsva2V5Jmd0OyZsdDtkaWN0Jmd0OyZsdDtrZXkmZ3Q7
			SU9Qcm92aWRlckNsYXNzJmx0Oy9rZXkmZ3Q7Jmx0O3N0cmluZyZn
			dDtJT01lZGlhJmx0Oy9zdHJpbmcmZ3Q7Jmx0O2tleSZndDtJT1By
			b3BlcnR5TWF0Y2gmbHQ7L2tleSZndDsmbHQ7ZGljdCZndDsmbHQ7
			a2V5Jmd0O1VVSUQmbHQ7L2tleSZndDsmbHQ7c3RyaW5nJmd0Ozky
			QUFEOTgxLTFGMjktNDk3Qi1BQTA4LTQ4QjlDMUY0OUMxNSZsdDsv
			c3RyaW5nJmd0OyZsdDsvZGljdCZndDsmbHQ7L2RpY3QmZ3Q7Jmx0
			O2tleSZndDtCTExhc3RCU0ROYW1lJmx0Oy9rZXkmZ3Q7Jmx0O3N0
			cmluZyZndDtkaXNrMXMyJmx0Oy9zdHJpbmcmZ3Q7Jmx0Oy9kaWN0
			Jmd0OyZsdDtkaWN0Jmd0OyZsdDtrZXkmZ3Q7SU9FRklEZXZpY2VQ
			YXRoVHlwZSZsdDsva2V5Jmd0OyZsdDtzdHJpbmcmZ3Q7TWVkaWFG
			aWxlUGF0aCZsdDsvc3RyaW5nJmd0OyZsdDtrZXkmZ3Q7UGF0aCZs
			dDsva2V5Jmd0OyZsdDtzdHJpbmcmZ3Q7XEU3Q0ZBRUUwLTc5Njct
			NDU4Ni1BNzNDLTkwMEE1MUU0RkM4MFxTeXN0ZW1cTGlicmFyeVxD
			b3JlU2VydmljZXNcYm9vdC5lZmkmbHQ7L3N0cmluZyZndDsmbHQ7
			L2RpY3QmZ3Q7Jmx0Oy9hcnJheSZndDsA
			</data>
			<key>efi-boot-device-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxYQAAEAAAAAG0RKRLnZ
			ngQBKgACAAAAKEAGAAAAAADgHzI6AAAAAFJWzzObuChEhs7Q8QFP
			oBgCAgQDJAD3/HS+fAvzSZFHAfQELmhCgdmqkikfe0mqCEi5wfSc
			FQQEmgBcAEUANwBDAEYAQQBFAEUAMAAtADcAOQA2ADcALQA0ADUA
			OAA2AC0AQQA3ADMAQwAtADkAMAAwAEEANQAxAEUANABGAEMAOAAw
			AFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIA
			ZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB/
			/wQA
			</data>
			<key>fmm-computer-name</key>
			<data>
			5YWz5qKm5Zut55qEaU1hYw==
			</data>
			<key>nvda_drv</key>
			<data>
			MQ==
			</data>
			<key>prev-lang:kbd</key>
			<data>
			emgtSGFuczoyNTI=
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
